body {
    font-family: 'Roboto', sans-serif;
    background-color: #8ECAE6;
    color: #333;
}

pre {
    margin-bottom: 0px;
}

.image-container {
    width: 100%; /* Or any specific width */
    max-width: 300px; /* Maximum size of the container */
}

.logo {
    display: block;
    width: 100%;
    height: auto;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    height: auto;
    padding: 10px;
}
.filter-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.filter-controls .btn, .filter-controls .form-control {
    flex: 1;
    max-width: 200px;
}
#grid .gridjs-table {
    width: 100%;
    margin-top: 10px;
}
.gridjs-search input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.gridjs-th {
    background-color: #023047 !important;
    color: white !important;
    font-size: 15px;
}
.gridjs-td {
    border-top: 1px solid #eee !important;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 150px; 
}

.btn-wild{
    background-color: #023047;
    color: #FFFFFF;
}

.btn-wild:hover{
    background-color: #219EBC;
    color: #FFFFFF;
}

.my-tr-class:hover {
    cursor: pointer;
}
.gridjs-table tr:hover td {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.gridjs-th-content {
    display: flex; /* Enable flexbox */
    align-items: center;
    padding-top: 5px;
}
.edit-on-github {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin: 20px;
}
th.gridjs-th {
    padding-right: 3px !important;
    padding-left: 10px !important;
    
}

.command-line-container { background-color: #f7f7f7; padding: 10px; position: relative; }

.copy-icon { cursor: pointer; position: absolute; top: 10px; right: 10px; }

.json-viewer {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto; 
    overflow: auto;
    white-space: pre-wrap; 
    font-family: 'Courier New', monospace;
}

.notification {
    background-color: #023047;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 8px;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.notification a {
    color: #ffffff; /* White color for the link */
    font-weight: bold; /* Bold font weight for the link */
    text-decoration: none; /* Removes underline from the link */
}

.notification a:hover {
    text-decoration: underline; /* Adds underline on hover for better user interaction */
}

.key {
    font-weight: bold;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.object, .array { color: #00008B; } /* Navy blue for objects and arrays */

.back-button-container {
    text-align: center; /* Centers the button horizontally */
    margin: 20px; /* Adds space around the button */
}

.back-button {
    background-color: #023047; /* Background color matching the notification bar */
    color: #FFFFFF; /* White text color */
    border: none; /* No border for a modern look */
    padding: 10px 20px; /* Padding for a larger click area */
    border-radius: 8px; /* Rounded corners */
    font-family: 'Roboto', sans-serif; /* Consistent font usage */
    font-size: 16px; /* Readable text size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Subtle shadow for 3D effect */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.back-button:hover {
    background-color: #035a70; /* Darker shade on hover for feedback */
}

@media (max-width: 1200px) { 
    .gridjs-td, .gridjs-th {
        padding: 10px; 
        font-size: 14px; 
    }
}

@media (max-width: 1000px) { 
    .filter-controls {
        flex-direction: column; 
    }

    .filter-controls .btn, .filter-controls .form-control {
        max-width: none;
        margin-bottom: 10px;
    }

    .gridjs-td, .gridjs-th {
        padding: 10px;
        font-size: 10px;
    }

    .edit-on-github {
        font-size: 12px;
    }

    .gridjs-table th:nth-of-type(6),
    .gridjs-table td:nth-of-type(6),
    .gridjs-table th:nth-of-type(7),
    .gridjs-table td:nth-of-type(7) {
        display: none !important;
    }

    .gridjs-th-content {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .filter-controls {
        flex-direction: column;
    }

    .filter-controls .btn, .filter-controls .form-control {
        max-width: none; 
        margin-bottom: 10px;
    }

    .gridjs-td, .gridjs-th {
        padding: 10px;
        font-size: 8px;
    }

    .gridjs-table th:nth-of-type(4),
    .gridjs-table td:nth-of-type(4),
    .gridjs-table th:nth-of-type(6),
    .gridjs-table td:nth-of-type(6),
    .gridjs-table th:nth-of-type(7),
    .gridjs-table td:nth-of-type(7) {
        display: none !important;
    }

    .gridjs-th-content {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .filter-controls {
        flex-direction: column;
    }

    .filter-controls .btn, .filter-controls .form-control {
        max-width: none; 
        margin-bottom: 10px;
    }

    .gridjs-td, .gridjs-th {
        padding: 10px;
        font-size: 8px;
    }

    .gridjs-table th:nth-of-type(3),
    .gridjs-table td:nth-of-type(3),
    .gridjs-table th:nth-of-type(4),
    .gridjs-table td:nth-of-type(4),
    .gridjs-table th:nth-of-type(6),
    .gridjs-table td:nth-of-type(6),
    .gridjs-table th:nth-of-type(7),
    .gridjs-table td:nth-of-type(7) {
        display: none !important;
    }

    .gridjs-th-content {
        font-size: 10px;
    }
}